@font-face {
   font-family: 'Press Start 2P Regular';
   src: url('../fonts/PressStart2P-Regular.ttf');
}

body {
	background-color: #000;
	color: #fff;
	font-family: 'Press Start 2P Regular', monospace;
}

.container {
	width: 501px;
	margin-left: auto;
	margin-right: auto;
}

canvas {
	border: 1px solid #555;
}

.score-board td {
	padding-right: 20px;
}

.score {
	color: #0af;
}

.score-blink1 {
	color: #f70;
}

.score-blink2 {
	color: #ff0;
}

#td-paused {
	color: #f00;
	display: none;
}

#td-wrapping {
	color: #0f0;
	display: none;
}

.centered {
	text-align: center;
}

.pull-right {
	text-align: right;
}